@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Karla:wght@400;700&display=swap');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --dark-violet: hsl(256, 26%, 20%);
  --grayish-blue: hsl(216, 30%, 68%);
  --very-dark-violet: hsl(270, 9%, 17%);
  --dark-grayish-violet: hsl(273, 4%, 51%);
  --very-light-gray: hsl(0, 0%, 98%);
  --body-font: 'Karla', sans-serif;
  --heading-font: 'DM Serif Display', 'serif';
}

/* Universal Styling */
body {
  font-family: var(--body-font);
  font-weight: 400;
  font-size: 14px;
}

/* Button for nav, header and section 2 */
.btn {
  padding: 7px 25px;
  border: 2px solid #ffffff;
  background: transparent;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.btn-reverse {
  border-color: var(--very-dark-violet);
  color: var(--dark-violet);
}

h1,
h2,
h3 {
  font-family: var(--heading-font);
  margin-bottom: 25px;
  font-weight: 400;
}

h1,
h2 {
  font-size: 5em;
  line-height: 1;
  width: 90%;
  position: relative;
  padding-top: 60px;
}

h2 {
  margin-bottom: 80px;
}
h3 {
  font-size: 2em;
}

.border-top-white::before {
  content: '';
  background-color: #ffffff;
  position: absolute;
  top: 0;
  left: 0;
  width: 150px;
  height: 1px;
}

.border-top-violet::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  background-color: hsl(256, 26%, 70%);
  width: 150px;
  height: 1px;
}

.container {
  margin: 0 auto;
  padding: 20px 0;
  max-width: 100%;
  width: 1200px;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.align-start {
  /* Positions the left column with the image at the top */
  align-items: flex-start;
}

nav .hamburger-icon,
.img-nav-mobile {
  display: none;
}

ul,
li,
a {
  list-style-type: none;
  text-decoration: none;
}

/* Nav Styling */
nav {
  /* z-index: 100; */
  background: #ffffff;
  /* background-color: #fff; */
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 99;
}
nav ul {
  display: flex;
  list-style-type: none;
  padding: 0;
}
nav ul li a {
  text-decoration: none;
  text-transform: uppercase;
  color: var(--dark-grayish-violet);
}

nav li {
  margin-left: 30px;
}

.close-icon {
  display: none;
}

/* Header Styling */
header {
  padding: 75px 0;
  margin-bottom: 250px;
  background: var(--dark-violet);
  color: #ffffff;
  position: relative;
  z-index: -1;
}

header::before {
  content: '';
  background-image: url('./images/bg-pattern-intro-left-desktop.svg');
  background-repeat: no-repeat;
  background-position: bottom left;
  position: absolute;
  bottom: -57%;
  left: 0;
  width: 100%;
  height: 100%;
}

header::after {
  content: '';
  background-image: url('./images/bg-pattern-intro-right-desktop.svg');
  background-repeat: no-repeat;
  background-position: top right;
  position: absolute;
  top: -70px;
  right: 0;
  width: 100%;
  height: 100%;
}

.img-intro {
  margin-bottom: -250px;
}

header p {
  width: 100%;
  padding-right: 35px;
  letter-spacing: 0.1rem;
  line-height: 2;
  font-weight: 400;
}

header button {
  margin-top: 25px;
}

/* Section bg-white Styling */
.bg-white .flex div {
  padding-right: 40px;
  margin-bottom: 120px;
}
.bg-white .flex div:last-child {
  padding-right: 0;
}

.bg-white img {
  margin-bottom: 35px;
}

.bg-white h3 {
  margin-bottom: 20px;
}

.bg-white p {
  line-height: 1.5;
  letter-spacing: 0.01rem;
  font-size: 16px;
  opacity: 0.5;
}

section:last-child .container {
  padding: 0;
  margin: 0 auto;
  max-width: 100%;
  width: 1200px;
}

/* Section bg-violet Styling */
.bg-violet {
  position: relative;
  background-color: var(--dark-violet);
  color: #ffffff;
  height: 250px;
  z-index: -1;
}

.bg-violet::before {
  content: '';
  background-image: url('./images/bg-pattern-how-we-work-desktop.svg');
  background-repeat: no-repeat;
  background-position: top right;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.bg-violet > div div:last-child {
  display: flex;
  align-content: center;
}

.bg-violet h2 {
  width: 62%;
  padding-left: 80px;
  font-size: 4em;
}

.bg-violet .btn {
  margin-right: 80px;
  z-index: 2;
}

/* Footer Styling */
footer {
  background-color: var(--very-light-gray);
  margin-top: 150px;
  padding-top: 45px;
  padding-bottom: 60px;
  position: relative;
  z-index: 1;
}

footer::before {
  content: '';
  background-image: url('./images/bg-pattern-footer-desktop.svg');
  background-repeat: no-repeat;
  background-position: top left;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.footer-top {
  margin-bottom: 30px;
  border-bottom: 1px solid hsl(273, 4%, 85%);
  align-content: center !important;
}

.footer-top div:first-child {
  padding-bottom: 25px;
}

footer .social-icons {
  display: flex;
  align-items: center;
  list-style-type: none;
}

footer .social-icons li {
  padding: 0 15px 35px 0;
}

footer .social-icons li:last-child {
  padding-right: 0;
}

footer h3 {
  font-family: var(--body-font);
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--very-dark-violet);
  opacity: 0.5;
  letter-spacing: 0.05em;
  padding-top: 20px;
}

footer .flex:last-child div {
  padding-right: 200px;
}

footer .flex:last-child div ul {
  list-style-type: none;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}

footer ul li {
  padding-bottom: 15px;
}

footer ul a {
  text-decoration: none;
  color: var(--very-dark-violet);
  opacity: 0.8;
}

/*  */
@media only screen and (max-width: 1200px) {
  body {
    /* background-color: green; */
  }
  .container {
    padding: 0 40px;
  }
  .bg-violet h2 {
    width: 85%;
    padding-left: 80px;
    font-size: 4em;
  }
  .bg-violet .btn {
    width: 100%;
  }
}

@media only screen and (max-width: 900px) {
  body {
    text-align: center;
    margin: 0 auto;
    /* padding: 0 20px; */
  }

  .container {
    margin: 0;
    padding: 0;
  }

  .flex {
    flex-direction: column;
  }

  nav .flex {
    flex-direction: row;
  }

  nav {
    padding: 15px;
  }

  .hamburger-btn {
    border: 0;
  }

  nav .hamburger-icon {
    background-color: transparent;
    display: flex;
    cursor: pointer;
  }

  nav ul {
    display: none;
  }

  nav .hamburger-btn .close {
    display: none;
  }

  nav .hamburger-btn.show .open {
    display: none;
  }

  nav .hamburger-btn.show .close {
    display: block;
  }

  nav ul.show {
    display: flex;
    flex-direction: column;
    position: fixed;
    margin: 0;
    height: calc(100vh - 62px);
    width: 100vw;
    top: 62px;
    left: 0;
    background-color: var(--very-dark-violet);
  }

  nav ul li:first-child {
    margin-top: 20px;
  }

  nav ul li {
    padding: 10px 0;
  }

  nav ul li a {
    color: #ffffff;
    margin: 30px 0;
  }

  .img-nav-mobile {
    /* display: block; */
    /* z-index: 101; */
  }

  .img-wrapper {
    text-align: left;
    z-index: 100;
  }

  .btn {
    display: inline-block;
    padding: 10px 25px;
    margin-bottom: 90px;
    letter-spacing: 0.2em;
  }

  .btn-reverse {
    border-color: #ffffff;
    color: #ffffff;
    margin-top: 0;
  }

  .reverse-mobile {
    flex-direction: column-reverse;
  }

  header,
  header p {
    padding: 0;
  }

  /* Header Styling */
  .border-top-white::before {
    display: none;
  }

  header {
    padding: 0;
    margin-bottom: 0;
    position: relative;
    /* z-index: -1; */
  }

  header::before,
  header::after {
    display: none;
  }
  .header-content-left {
    position: relative;
  }

  .header-content-left::before {
    content: '';
    background-image: url('./images/bg-pattern-intro-left-mobile.svg');
    background-repeat: no-repeat;
    background-position: top left;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .header-content-left::after {
    content: '';
    background-image: url('./images/bg-pattern-intro-right-mobile.svg');
    background-repeat: no-repeat;
    background-position: bottom right;
    position: absolute;
    bottom: -40%;
    right: 0;
    width: 100%;
    height: 100%;
  }

  .img-intro {
    margin-bottom: 0;
    max-width: 100%;
  }

  header p {
    padding: 0 0 10px 0;
    width: 80%;
    margin: 0 auto;
    letter-spacing: 0.03em;
    line-height: 1.8em;
  }

  h1 {
    width: 80%;
    font-size: 3em;
    padding: 110px 0 20px 0;
    margin: 0 auto;
  }

  h2 {
    width: 100%;
    font-size: 3em;
    margin-top: 140px;
  }

  .img-intro {
    display: block;
    margin-bottom: 0;
  }

  .border-top-violet::before {
    left: 50%;
    transform: translateX(-50%);
  }

  .bg-white .flex div {
    padding: 0;
    width: 90%;
  }

  .bg-violet {
    width: 90%;
    margin: 0 auto;
    height: 350px;
    position: relative;
  }
  .bg-violet::before {
    content: '';
    background-image: url('./images/bg-pattern-how-we-work-mobile.svg');
    background-repeat: no-repeat;
    background-position: top right;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }

  .bg-violet h2 {
    width: 100%;
    font-size: 3em;
  }

  .bg-violet h2 {
    margin: 70px 0 40px 0;
    padding: 0;
  }
  .bg-violet .btn {
    margin: 0 0 70px 0;
    /* padding: 0 0 70px 0; */
  }

  footer {
    padding: 20px;
  }

  footer .flex div {
    width: 100%;
  }

  footer .flex:last-child div {
    padding-right: 0;
  }

  footer::before {
    content: '';
    background-image: url('./images/bg-pattern-footer-mobile.svg');
    /* background-size: cover; */
  }

  .footer-top img {
    padding-top: 30px;
  }
}
