@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Karla:wght@400;700&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --dark-violet: hsl(256, 26%, 20%);
    --grayish-blue: hsl(216, 30%, 68%);
    --very-dark-violet: hsl(270, 9%, 17%);
    --dark-grayish-violet: hsl(273, 4%, 51%);
    --very-light-gray: hsl(0, 0%, 98%);
    --body-font: 'Karla', sans-serif;
    --heading-font: 'DM Serif Display', 'serif';
}

body {
    font-family: var(--body-font);
    font-weight: 400;
    font-size: 11px;
}

h1, h2, h3 {
    font-family: var(--heading-font);
    /* font-weight: 400; */
}

.container {
    margin: 0 auto;
    padding: 20px;
    max-width: 100%;
    width: 1200px;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.flex > div {
    flex: 1;
}

nav {

}

nav ul {
    display: flex;
    list-style-type: none;
    padding: 0;
}
nav ul li a {
    text-decoration: none;
    text-transform: uppercase;
    color: var(--dark-grayish-violet);
}

nav li {
    margin-left: 30px;
}

/* Button for nav, header and section 2 */
.btn {
    border: 2px solid var(--very-dark-violet);
    padding: 10px 25px;
    background: transparent;
}